version: '3.8'
services:

  postgres:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=moviesService
    volumes:
      - postgres_data_service2:/var/lib/postgresql/data
    ports:
      - '5433:5432'

volumes:
  postgres_data_service2:

